/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

:root {
    --main-font: 'Montserrat', sans-serif;
    --main-color: rgb(255, 0, 0);
    --p-font: 'Roboto', sans-serif;
    --p-color: rgb(102, 102, 102);
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--main-font);
    font-weight: 700;
    text-align: center;
    color: white;
}

.main-header {
    background-image: url("./img/bgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 540px;
}

.container {
    width: 320px;
    margin: 0 auto;
}
.main-div{
    display: inline-block;
}
.main-div-btn{
    width: 90px;
    height: 34px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 106px;
}
.main-div-btn::first-letter{
    text-transform: uppercase;
}
.main-div-btn:hover{
    border: 2px solid white;
    border-radius: 20px;
}
.main-logo a{
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}
.main-header-title{
    font-size: 30px;
    text-transform: uppercase;
}
.main-header-descrp{
    font-family: var(--p-font);
    font-size: 18px;
    font-weight: 300;
    width: 220px;
    margin: 0 auto;
}
.main-header-descrp::first-letter ,
.main-header-btn::first-letter{
    text-transform: uppercase;
}
.main-header-btn {
    color: white;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
    width: 280px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 20px;
}
@media screen and (max-width: 768px) {}